<div id="testId" style="background-color:rgb(180,180,180); padding:10px 10px 10px 10px;">
<span data-bind="text: bme280Temperature">N/A</span>
<div style="display:inline;" >&#176;C</div>
<div style="display:inline;"> //</div>
<span data-bind="text: bme280Humidity">N/A</span>
<div style="display:inline;" >%</div>
</div>
