<div id="testId" style="background-color:rgb(180,180,180); padding:10px 10px 10px 10px;">
<div style="display:inline;" ><span data-bind="text: bme280Temperature">N/A</span>&#176;C</div>
<div style="display:inline;"> //</div>
<div style="display:inline;" ><span data-bind="text: bme280Humidity">N/A</span>%</div>
</div>
