<div style="background-color:rgb(180,180,180); padding:10px 10px 10px 10px;">
<div style="display:inline;" id="bme280-temp">N/A</div>
<div style="display:inline;" >&#176;C</div>
<div style="display:inline;"  id="bme280-hum">N/A</div>
<div style="display:inline;" >%</div>
</div>
